{% extends 'base.html.twig' %}

{% block title %}A propos de Bucket-List{% endblock %}

{% block body %}
    <h1>A propos de Bucket-List</h1>
    <div class="form-create">
        <h3 id="h3-about">Une "bucket-list", qu’est-ce que c’est ?</h3>
        <p id="about">
            <br>Parfois aussi baptisée en français « liste de rêves » ou « liste de vie », une bucket list,
            c’est la liste de toutes les choses qu’on a envie de faire, de voir ou d’accomplir au moins
            une fois dans sa vie, avant de mourir.<br><br>
            Bon, dit comme ça, ça n’a pas forcément l’air méga-réjouissant mais croyez-moi,
            c’est au contraire un outil génial pour tous les rêveurs comme vous (je l’espère !) et moi (ça, c’est sûr).
        </p>
    </div>

{% endblock %}