{% extends 'base.html.twig' %}

{% block title %}Wishes{% endblock %}

{% block body %}
    <h1>Wishlist</h1>

    <ul>
        <li>Saut en parachute</li>
        <li>Séjour à Las Vegas</li>
        <li>Balade en hélicoptère</li>
        <li>Voyage dans l'espace</li>
        <li>Retraite spirituelle</li>
    </ul>

{% endblock %}