body {
    background-color: #b2d8d8;
}

body h1{
    text-align: center;
    padding-top: 1rem;
}

body p {
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}

#header{
    display: flex;
}

#header h1{
    margin: 0;
    padding: 1.4rem 0.5rem;
}

#header img{
    padding: 0.5rem 0rem;
}

.card{
    background-color: #66b2b2;
    border-radius: 0;
}

.nav-link{
    color: black;
}

footer{
    text-align: center;
    background-color: #66b2b2;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.7rem 0rem;
    font-weight: 600;
}


